@{
	ViewData["Title"] = "Account";
}
<main style="background-color: #f5f5fa">
	<div class="container magrin_30">
		<nav aria-label="breadcrumb" class="mt-3">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Information</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-3 bg-secondary" style="height: 400px">
				<nav class="navbar navbar-light bg-light">
					<div class="container-fluid">
						<a class="navbar-brand" href="#">Navbar</a>
					</div>
				</nav>
				<nav class="navbar navbar-light bg-light">
					<div class="container-fluid">
						<span class="navbar-brand mb-0 h1">Navbar</span>
					</div>
				</nav>
			</div>
			<div class="col-9 bg-danger">
				<div>
					vienamese
				</div>
			</div>
		</div>
	</div>
</main>