@using ShoeShop.ViewModels.Authentication;
@model SigninViewModel;
@{
	ViewData["Title"] = "Sign in";
}

@section Styles {
	<link href="~/css/account.css" rel="stylesheet">
}

<main class="bg_gray">

	<div class="container margin_60">
		<div class="page_header">
			<h1 class="text-center">Sign In</h1>
		</div>
		<!-- /page_header -->
		<div class="row justify-content-center">
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="client">Already Client</h3>
					<form class="form_container" method="post">
						<div class="row no-gutters">
							<div class="col-lg-6 pr-lg-1">
								<a href="#0" class="social_bt facebook">Login with Facebook</a>
							</div>
							<div class="col-lg-6 pl-lg-1">
								<a href="#0" class="social_bt google">Login with Google</a>
							</div>
						</div>
						<div class="divider"><span>Or</span></div>
						@if (TempData["Error"] != null)
						{
							<div class="col-md-12 alert alert-danger mt-3">
								<span><b>Sorry!</b> - @TempData["Error"]</span>
							</div>
						}
						<div class="form-group">
							<label asp-for="EmailAddress" class="form-label"></label>
							<input asp-for="EmailAddress" class="form-control mb-1" placeholder="abc@email.com">
							<span asp-validation-for="EmailAddress" class="d-block text-danger mt-1"></span>
						</div>
						<div class="form-group">
							<label asp-for="Password" class="form-label"></label>
							<input asp-for="Password" class="form-control mb-1" placeholder="************">
							<span asp-validation-for="Password" class="d-block text-danger mt-1"></span>
						</div>
						<div class="clearfix">
							<div class="checkboxes float-start">
								<label class="container_check" asp-for="RememberMe">
									@Html.DisplayNameFor(m => m.RememberMe)
									<input type="checkbox" asp-for="RememberMe">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="float-end"><a id="forgot" asp-action="ForgotPassword" asp-controller="Authentication">Lost Password?</a></div>
						</div>
						<div class="text-muted text-center mb-2">Don't have an Account? <a asp-controller="authentication" asp-action="register">Sign up</a></div>
						<div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
					</form>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				<div class="row">
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Find Locations</li>
							<li>Quality Location check</li>
							<li>Data Protection</li>
						</ul>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Secure Payments</li>
							<li>H24 Support</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</main>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}