@model IEnumerable<ShoeShop.Models.Contact>
@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/admin/js/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/admin/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
}

<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-grow-1 fs-3 fw-semibold my-2 my-sm-3">Contacts</h1>
            <nav class="flex-shrink-0 my-2 my-sm-0 ms-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->
<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">List Contacts</h3>
        </div>
        <div class="block-content">
            <div class="block-content pb-4">
                <table class="table table-striped table-vcenter" id="contact-table">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell text-center" style="width: 40px;">#</th>
                            <th class="d-none d-sm-table-cell">Name</th>
                            <th class="d-none d-sm-table-cell">Email</th>
                            <th class="d-none d-sm-table-cell">Message</th>
                            <th class="d-none d-sm-table-cell">Send time</th>
                            <th class="text-center" style="width: 80px;">Actions</th>
                        </tr>
                    </thead>
                </table>
                
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/admin/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/admin/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).on("click", ".btn-delete", async function () {
            let trid = $(this).data("id");
            let result = await Swal.fire({
                title: "Are you sure?",
                text: "Would you like to delete this contact?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, I'm sure",
                cancelButtonText: "Cannel"
            });

            if (result.value) {
                try {
                    let response = await $.post(`./Contacts/Delete/${trid}`);
                    Swal.fire("Deleted!", "Successfully deleted the contact.", "success");
                    $(this).closest('tr').remove();
                } catch (error) {
                    console.error("Error:", error);
                    Swal.fire("Lỗi !", "Deletion of the contact was not successful.", "error");
                }
            }
        });

        $(document).ready(function () {
            jQuery.extend(jQuery.fn.dataTable.ext.classes, {
                sWrapper: "dataTables_wrapper dt-bootstrap5",
                sFilterInput: "form-control",
                sLengthSelect: "form-select"
            });
            jQuery.extend(!0, jQuery.fn.dataTable.defaults, {
                language: {
                    lengthMenu: "_MENU_",
                    search: "_INPUT_",
                    searchPlaceholder: "Search..",
                    info: "Page <strong>_PAGE_</strong> of <strong>_PAGES_</strong>",
                    paginate: {
                        first: '<i class="fa fa-angle-double-left"></i>',
                        previous: '<i class="fa fa-angle-left"></i>',
                        next: '<i class="fa fa-angle-right"></i>',
                        last: '<i class="fa fa-angle-double-right"></i>'
                    }
                }
            });
            var table = $("#contact-table").dataTable({
                pageLength: 5,
                lengthMenu: [
                    [5, 10, 20],
                    [5, 10, 20]
                ],
                autoWidth: !1,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/admin/contacts/GetContacts",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [
                    {
                        "targets": [0,1,2,3,4,5],
                        "sortable": false
                    }
                ],
                "columns": [
                    {
                        "data": "isseen", "name": "isseen", "autoWidth": true, "render": function (data, type, row) {
                            return row.isSeen ? '' : '<i class="fa fa-bell"></i>';
                        },
                    },
                    { "data": "name", "name": "Name", "autoWidth": true },
                    { "data": "email", "name": "Email", "autoWidth": true },
                    { "data": "message", "name": "Message", "autoWidth": true },
                    {
                        "data": "createdAt", "name": "Date", "autoWidth": true, "render": function (data, type, row) {
                            return row.createdAt ? new Date(row.createdAt).toLocaleString() : '';
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return `<div class="btn-group">
                                                    <a href="/admin/contacts/details/${row.id}" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled" data-bs-toggle="tooltip">
                                                        <i class="fa  fa-eye"></i>
                                            </a>
                                            <button data-id="${row.id}" type="button" class="btn btn-sm btn-alt-secondary js-bs-tooltip-enabled btn-delete" data-bs-toggle="tooltip" aria-label="Delete" data-bs-original-title="Delete">
                                            <i class="fa fa-times"></i>
                                            </button>
                                                </div>`;
                        }, "className": "text-center"
                    },
                ]
            });
        });
    </script>
}


