<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <meta name="description" content="Dashmix - Bootstrap 5 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Dashmix - Bootstrap 5 Admin Template &amp; UI Framework">
    <meta property="og:site_name" content="Dashmix">
    <meta property="og:description" content="Dashmix - Bootstrap 5 Admin Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/admin/media/favicons/icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/admin/media/favicons/icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/admin/media/favicons/icon.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
     @await RenderSectionAsync("Styles", required: false)
    <!-- Dashmix framework -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" id="css-main" href="~/admin/css/dashmix.css">
    <link rel="stylesheet" href="~/admin/css/custom.css">
    <!-- END Stylesheets -->
</head>
<body>

    <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-fixed main-content-narrow">

        <nav id="sidebar" aria-label="Main Navigation">
            <div class="bg-header-dark">
                <div class="content-header bg-white-5">
                    <a class="fw-semibold text-white tracking-wide" href="index.html">
                        <span class="smini-visible">
                            D<span class="opacity-75">x</span>
                        </span>
                        <span class="smini-hidden">
                            Dash<span class="opacity-75">mix</span>
                            <span class="fw-normal">WP Post</span>
                        </span>
                    </a>
                    <div>
                        <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="js-sidebar-scroll simplebar-scrollable-y" data-simplebar="init">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">
                                    <div class="content-side">
                                        <ul class="nav-main">
                                            <li class="nav-main-item">
                                                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                                    <i class="nav-main-link-icon fa fa-tachometer-alt"></i>
                                                    <span class="nav-main-link-name">Dashboard</span>
                                                </a>
                                                <ul class="nav-main-submenu">
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" href="">
                                                            <span class="nav-main-link-name">Manage</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" href="">
                                                            <span class="nav-main-link-name">Updates</span>
                                                            <span class="nav-main-link-badge badge rounded-pill bg-success">3</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-main-heading"></li>
                                            <li class="nav-main-item open">
                                                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" asp-controller="Product" asp-action="Index">
                                                    <i class="fa-solid fa-socks" style="color: #1060ea;"> </i>
                                                    <span class="nav-main-link-name">Products</span>
                                                </a>
                                                <ul class="nav-main-submenu">
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" asp-controller="Products" asp-action="Index">
                                                            <span class="nav-main-link-name">Product</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link active" asp-controller="Colors" asp-action="Index" >
                                                            <span class="nav-main-link-name">Colors</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" asp-controller="Categories" asp-action="Index">
                                                            <span class="nav-main-link-name">Categories</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" asp-controller="Brands" asp-action="Index">
                                                            <span class="nav-main-link-name">Brand</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" asp-controller="Blogs" asp-action="Index">
                                                    <i class="fa-solid fa-blog" style="color: #1060ea;"></i>
                                                    <span class="nav-main-link-name">Blogs</span>
                                                </a>
                                                <ul class="nav-main-submenu">
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" asp-controller="Blogs" asp-action="Index">
                                                            <span class="nav-main-link-name">Blogs</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" asp-controller="Topics" asp-action="Index">
                                                            <span class="nav-main-link-name">Topics</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" asp-controller="Customers" asp-action="Index">
                                                    <i class="nav-main-link-icon fa fa-file"></i>
                                                    <span class="nav-main-link-name">Customers</span>
                                                </a>
                                            </li>
                                            
                                            <li class="nav-main-item">
                                                <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                                                    <i class="fa-solid fa-user" style="color: #1060ea;"></i>
                                                    <span class="nav-main-link-name">Users</span>
                                                </a>
                                                <ul class="nav-main-submenu">
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" href="">
                                                            <span class="nav-main-link-name">All Users</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" href="">
                                                            <span class="nav-main-link-name">Add New</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-main-item">
                                                        <a class="nav-main-link" href="">
                                                            <span class="nav-main-link-name">Your Profile</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            
                                            <li class="nav-main-heading"></li>
                                            <li class="nav-main-item">
                                                <a class="nav-main-link" href="javascript:void(0)" data-toggle="layout" data-action="sidebar_mini_toggle">
                                                    <i class="nav-main-link-icon fa fa-arrows-alt-h"></i>
                                                    <span class="nav-main-link-name">Toggle Sidebar</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="simplebar-placeholder" style="width: 622px; height: 693px;"></div>
                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 477px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
            </div>
        </nav>


        



        <header id="page-header">
            <div class="content-header">
                <div>
                    <button type="button" class="btn btn-alt-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn btn-alt-secondary" id="page-header-website-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-home"></i>
                            <span class="d-none d-sm-inline ms-1">Website</span>
                        </button>
                        <div class="dropdown-menu p-0" aria-labelledby="page-header-website-dropdown">
                            <div class="p-2">
                                <a class="dropdown-item mb-0" href="index.html">
                                    <i class="fa fa-fw fa-globe me-1"></i> Visit Site
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-alt-secondary d-none d-sm-inline-block" href="javascript:void(0)">
                        <i class="fa fa-fw fa-comment"></i>
                        <span class="badge bg-black-50">3</span>
                    </a>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn btn-alt-secondary" id="page-header-new-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-plus"></i>
                            <span class="d-none d-sm-inline ms-1">New</span>
                        </button>
                        <div class="dropdown-menu p-0" aria-labelledby="page-header-new-dropdown">
                            <div class="p-2">
                                <a class="dropdown-item" asp-controller="Products" asp-action="Create">
                                    <i class="fa-solid fa-socks" style="color: #1060ea;"></i> Products
                                </a>
                                <a class="dropdown-item" asp-controller="Blogs" asp-action="Create>
                                    <i class="fa-duotone fa-blog" style="--fa-primary-color: #0d5be3; --fa-secondary-color: #0d5be3; --fa-secondary-opacity: 0.6;"></i> Blogs
                                </a>
                                <a class="dropdown-item" asp-controller="Customers" asp-action="Create>
                                    <i class="fa fa-fw fa-file me-1"></i> Customers
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="fa fa-fw fa-user me-1"></i> User
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn btn-alt-secondary" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-lg-inline me-2">Howdy, John Doe</span>
                            <i class="fa fa-angle-down opacity-50"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 overflow-hidden" aria-labelledby="page-header-user-dropdown">
                            <div class="row g-0">
                                <div class="col-6 d-flex align-items-center justify-content-center bg-body-light p-2">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/media/avatars/avatar10.jpg" alt="">
                                </div>
                                <div class="col-6 p-2 bg-body-extra-light">
                                    <a class="dropdown-item" href="be_pages_generic_profile.html">
                                        John Doe
                                        <div class="fs-sm text-muted">johndoe</div>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        Edit My Profile
                                    </a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="op_auth_signin.html">
                                        Log Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page-header-search" class="overlay-header bg-sidebar-dark">
                <div class="content-header">
                    <form class="w-100" action="be_pages_generic_search.html" method="POST">
                        <div class="input-group">
                            <button type="button" class="btn btn-danger" data-toggle="layout" data-action="header_search_off">
                                <i class="fa fa-fw fa-times-circle"></i>
                            </button>
                            <input type="text" class="form-control border-0" placeholder="Search WP Post.." id="page-header-search-input" name="page-header-search-input">
                        </div>
                    </form>
                </div>
            </div>
            <div id="page-header-loader" class="overlay-header bg-primary-darker">
                <div class="content-header">
                    <div class="w-100 text-center">
                        <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
                    </div>
                </div>
            </div>
        </header>



        <!-- Main Container -->
        <main id="main-container">
            @RenderBody()
        </main>
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="bg-body-light">
            <div class="content py-0">
                <div class="row fs-sm">
                    <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a class="fw-semibold" href="https://1.envato.market/ydb" target="_blank">pixelcave</a>
                    </div>
                    <div class="col-sm-6 order-sm-1 text-center text-sm-start">
                        <a class="fw-semibold" href="https://1.envato.market/r6y" target="_blank">Dashmix 5.6</a> &copy; <span data-toggle="year-copy"></span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
    </div>

    <script src="~/admin/js/dashmix.app.min.js"></script>
    <script src="~/admin/js/lib/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
