/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.field-validation-error {
    width: 100%;
    display: inline-block;
    margin-top: .375rem;
    font-size: .875rem;
    color: #e04f1a !important;
}


.form-control.error,.input-validation-error {
    border-color: #fae5dd !important;
    background-color: #fae5dd !important;
}

.form-control.error:focus,.input-validation-error:focus {
    border-color: #e04f1a;
    box-shadow: 0 0 0 0.25rem rgba(224, 79, 26, 0.25);
}

label.error {
    width: 100%;
    margin-top: .375rem;
    font-size: .875rem;
    color: #e04f1a !important;
}

textarea.error {
    border-color: #fae5dd !important;
    background-color: #fae5dd !important;
}

textarea.error:focus {
    border-color: #e04f1a;
    box-shadow: 0 0 0 0.25rem rgba(224, 79, 26, 0.25);
}

.custom-notify {
    z-index: 9999; /* Điều chỉnh giá trị z-index theo nhu cầu của bạn, để đảm bảo nó cao hơn modal */
}

.list-service i {
    font-size: 26px;
    color: #004dda
}

.list-service span {
    font-size: 15px
}

.img-color{
    width: 100%;
    object-fit: contain
}

.variant-color{
    cursor: pointer
}

.variant-color.active {
    border-bottom: 4px solid
}

.size-container{
    display: flex;
    gap: 10px
}

.avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%
}

.table-vcenter th,
.table-vcenter td {
    vertical-align: middle;
}