@model Product;
<div class="grid_item">
	@if (Model.PriceSale != 0)
	{
		var roundedPercentage = 100 - (int)Math.Round((Model.PriceSale / Model.Price) * 100);
		<span class="ribbon off">-@roundedPercentage%</span>
	}
	else
	{
		if (Model.Label == 1)
		{
			<span class="ribbon new">New</span>
		}
		else if (Model.Label == 2)
		{
			<span class="ribbon hot">Hot</span>
		}
	}
	<figure>
		<a asp-controller="Product" asp-action="Detail" asp-route-slug="@Model.Slug">
			<img class="img-fluid" src="~/img/products/@Model.Thumbnail.Name" alt="">
		</a>
	</figure>
	<div class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i></div>
	<a asp-controller="Product" asp-action="Detail" asp-route-slug="@Model.Slug">
		<h3>@Model.Name</h3>
	</a>
	<div class="price_box">
		@if(Model.PriceSale != 0) {
			<span class="new_price">$@Model.PriceSale.ToString("0.00")</span>
			<span class="old_price">$@Model.Price.ToString("0.00")</span>
		} else {
			<span class="new_price">$@Model.Price.ToString("0.00")</span>
		}
	</div>
</div>