@model ShoeShop.ViewModels.BlogViewModel;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts {
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    <script src="~/admin/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/additional-methods.js"></script>
    <script>Dashmix.helpersOnLoad(['jq-select2', 'js-ckeditor']);</script>
    <script>
        $(document).ready(function () {
            $('#blog-form').submit(function (e) {
                e.preventDefault();

                var formData = new FormData($(this)[0]);

                // Additional form data
                formData.append('Content', CKEDITOR.instances['js-ckeditor'].getData());

                // AJAX request to submit form
                $.ajax({
                    url: '/Admin/Blogs/Create',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        window.location.href = '/Admin/Blogs/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        });

    </script>
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="blog-form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-4 form-group">
                <label class="form-label" asp-for="Image">Image</label>
                <input type="file" id="thumbnail" asp-for="Image" class="form-control" accept="image/*" />
                <img id="imagePreview" style="display:none; max-width: 300px; max-height: 300px;" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="blog-name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" id="blog-slug" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>

            <div class="mb-4 form-group">
                <label class="form-label" asp-for="TopicID">Topic</label>
                <select class="js-select2 form-select" id="topic-id" asp-for="TopicID" style="width: 100%;" data-placeholder="Choose topic..">
                    <option></option>
                    @foreach (var topic in ViewBag.Topics)
                    {
                        <option value="@topic.Id">@topic.Name</option>
                    }
                    <!-- Add dynamic options if needed -->
                </select>
            </div>

            <div class="mb-4">
                <label class="form-label">Content</label>
                <textarea id="js-ckeditor" name="content" asp-for="Content"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" id="btn-add-blog" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
