@model ShoeShop.ViewModels.BlogViewModel;


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/admin/js/plugins/select2/css/select2.min.css">
}
@section Scripts {
    <script src="~/admin/js/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/admin/js/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/js/plugins/jquery-validation/additional-methods.js"></script>
    <script src="~/admin//js/blog/add-blog.js"></script >
    <script>Dashmix.helpersOnLoad(['jq-select2', 'js-ckeditor']);</script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    function openFileInput() {
        // Khi button được click, kích hoạt sự kiện click cho input file ẩn
        document.getElementById('thumbnail').click();
    }

    // Sự kiện change của input file
    document.getElementById('thumbnail').addEventListener('change', function () {
        // Lấy tên file từ input file
        var fileName = this.value.split('\\').pop();

        // Hiển thị tên file hoặc đường dẫn của file trong phần tử span
        document.getElementById('imgPreview').src = fileName;
    });

</script>


}



<form asp-action="Edit" id="blog-form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-8" style="background-color:white;display:block; margin:10px 250px">
        <div class="block-header block-header-default" style="width:100%">
            <h3 class="block-header-default" style="margin:10px">Edit Post</h3>
        </div>
        <div class="col-8" style="width:100%;padding:10px 100px">
            <div class="form-group" >
                <label class="form-label" asp-for="Image">Image</label>
                <input type="file" id="thumbnail" asp-for="Image" class="form-control" accept="image/*" />
                <img id="imagePreview" style="display:block; width: 400px; height: 350px; margin:10px 60px" src="~/img/blogs/@Model.Thumbnail.Name" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="blog-name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" id="blog-slug" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CreatedAt" class="control-label">Thời gian tạo</label>
                <input asp-for="CreatedAt" class="form-control" readonly/>
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label">Tác giả</label>
                <input asp-for="User.FullName" class="form-control" readonly />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicId" class="control-label">Chủ đề</label>
                 <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
                
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Content" class="control-label">Nội dung</label>
                <textarea id="js-ckeditor" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-4 form-group" style="display:flex;justify-content:end;padding:10px 20px">
                <button type="button" class="btn btn-danger" style="margin:10px"> <a asp-action="Index" style="color:white">Back to List</a></button>
                <button type="submit" value="Create" id="btn-add-blog" class="btn btn-primary" style="width:100px;margin:10px">Save</button>
            </div>


        </div>
    </div>
</form>

 

